Data Types and Structures Assignment

Theory Assignment

1. What are data structures, and why are they important

Ans - Data structures are specialized ways to organize and store data in a
      computer for efficient access and manipulation, enabling faster processing and better application performance

      Why They are important:
      
      1. Efficient Data Handling:
          Python's built-in data structures like lists, dictionaries, sets, and tuples offer optimized ways to store and manage data.
      
      2. Organizing Data:
          Data structures provide an organized way to store data that can be accessed and modified quickly

      3. Code Readability and Maintainability:
	        Using appropriate data structures can make your code more organized, easier to understand, and simpler to maintain.
      

2.  Explain the difference between mutable and immutable data types with examples

ans - Mutable vs Immutable Data Types
        The main difference between mutable and immutable data types in Python lies in whether or not their values can be changed after they are created.

        Mutable data types can be changed after they are created.
        
        Immutable data types cannot be changed once they are created.

        Mutable Data Types:

          A mutable data type allows modifications after its creation. You can change, add, or remove elements from mutable objects.

      Examples of Mutable Data Types in Python:
        1. Lists

        2. Dictionaries

        3. Sets


      Example with List (Mutable):
      # Example of a mutable object (list)
      lst = [1, 2, 3]
      print("Original list:", lst)

      # Modify the list
      lst[1] = 100
      print("Modified list:", lst)

      # Add a new element to the list
      lst.append(200)
      print("List after append:", lst)

      Output:
      Original list: [1, 2, 3]
      Modified list: [1, 100, 3]
      List after append: [1, 100, 3, 200]

      Here, the list lst was modified by changing the second element and appending a new value.

      Immutable Data Types:

        An immutable data type cannot be changed after it is created. Once you create an object of an immutable data type, you cannot alter its contents. Any operation that tries to modify an immutable object will result in the creation of a new object.

      Examples of Immutable Data Types in Python:

      1. Strings

      2. Tuples

      Integers

      Floats

      Booleans

      Frozen sets

      Key Characteristics:

      Cannot be changed after creation.

      If you attempt to modify it, a new object is created.

      Example: If you change a string, you create a new string object.

      Example with String (Immutable):
      # Example of an immutable object (string)
      str1 = "Hello"
      print("Original string:", str1)

      # Attempt to modify the string (this creates a new string)
      str1 = str1 + " World"
      print("Modified string:", str1)

      Output:
      Original string: Hello
      Modified string: Hello World


      The string str1 was not changed in place. Instead, a new string "Hello World" was created and assigned to str1.

3. What are the main differences between lists and tuples in Python

ans : 1. Mutability
        List : Mutable	 Yes , we can modify, add, or remove elements after   
               creation
               eg. lst[0] = 10 works
        tuples : No , once created, the elements cannot be changed
                Example	 	tpl[0] = 10 → raises TypeError

      2. Syntax
          list : Declaration	Square brackets []
            Example:	lst = [1, 2, 3]
          Tuple : Parentheses () (or just commas)
            Example	: tpl = (1, 2, 3)

      3. Performance
          list :Speed	Slower due to mutability overhead	,
                More memory used
          Tuple: Faster because they are immutable
                Less memory used

      4. Methods Available
            list : Common Methods	append(), extend(), insert(), remove(),
                   pop(), clear(), sort(), reverse()
            tuple :Only count() and index() are available

      5. Use Cases
            list : Use Case	When we need a modifiable collection of items	tuple : When you we an immutable collection or a fixed set of   
                    items

      6. Nesting and Heterogeneous Data
            Both lists and tuples can contain mixed data types and nested structures.

      example
        lst = [1, "hello", [2,3]]
        tpl = (1, "hello", (2,3))

4. Describe how dictionaries store data

ans - A dictionary in Python is an unordered collection of key-value pairs,   
      where each key is unique and is used to access its associated value. Dictionaries are highly efficient for lookups, insertions, and deletions because of the way they store data internally.

     example :
      dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
       
5. Why might you use a set instead of a list in Python
ans- to use set or list is depend on programmer, but i am give an some advantage of set over list  as per difference.
  | Feature       | Set                 | List                 |
  | --------------| --------------------| -------------------- |
  | Duplicates    | Automatically removed| Allowed             |
  |Membership Check| Very fast (O(1))    | Slower (O(n))       |
  | Order          | Unordered           | Ordered             |
  |Operations      | Supports set operations (union, intersection, etc.)| No direct set operations               |
| Indexing/Slicing |  Not supported                                     | Supported                            |
| Use Case         | Unique elements, fast lookups, set operations       | Ordered collections, duplicates needed |

6. What is a string in Python, and how is it different from a list

ANS  A string in Python is a sequence of characters enclosed in single quotes
     (' '), double quotes (" "), or even triple quotes (''' ''' / """ """).

     Example:
      text = "Hello, World!"

      - Strings are immutable


      A list is an ordered, mutable collection that can contain different types of data — not just characters.

      Example:
        my_list = [1, "Hello", 3.14, True]

      - The list contains multiple data types

      | Feature                         | **String**                 | **List**                        |
      | ------------------------------- | -------------------------- | ------------------------------- |
      | **Type of Data**                | Sequence of **characters** | Collection of **any data type** |
      | **Mutable?**                    |   No (Immutable)           |  Yes (Mutable)                 |
      | **Syntax**                      | `"Hello"` or `'Hello'`     | `[1, 2, 3]`                     |
      | **Indexing**                    | Yes                        | Yes                             |
      | **Slicing**                     | Yes                        | Yes                             |
      | **Change elements**             |  Not allowed              |     Allowed                       |
      | **Can contain multiple types?** |  Only characters          |  Any data type                 |
      | **Iteration**                   | Character by character     | Element by element              |


7. How do tuples ensure data integrity in Python
ANS - Tuples are immutable, meaning once created, their elements cannot be
      changed.

      This prevents accidental modification of data and ensures the data remains consistent.
      
      Example:

        person = ("Alice", 25, "Paris")
        # person[1] = 26  -> Error (immutable)


      **Data integrity** is preserved because the tuple’s content cannot be altered after creation.

8. What is a hash table, and how does it relate to dictionaries in Python
ANS - A hash table is a data structure that maps keys → values using a hash   
      function.

      In Python, dictionaries are implemented using hash tables.

      This allows O(1) average time complexity for lookup, insertion, and deletion.

      Example:

      student = {"name": "Bob", "age": 22}
      

9. Can lists contain different data types in Python

ANS - Yes.
      Lists in Python are heterogeneous, meaning they can store different data types.

      Example:

      lst = [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python

ANS - Strings are immutable to:

      Save memory (they can be reused).
      Make them thread-safe.
      Ensure consistent behavior when used as dictionary keys or in sets.
      Example:
        s = "Hello"
        # s[0] = "Y"  -> Error
        s = "Yellow"  # Creates a new string object

11. What advantages do dictionaries offer over lists for certain tasks

ANS -

    | Task                    | Dictionary Advantage                              |
    | ----------------------- | ------------------------------------------------- |
    | **Fast lookup**         | O(1) access using keys                            |
    | **Key-value storage**   | Easily associate data (e.g., name → phone number) |
    | **Meaningful indexing** | Access by key name instead of numeric index       |

    Example:

      # Easier to find data by name instead of index
      contacts = {"Alice": 1234, "Bob": 5678}
      print(contacts["Bob"])  # 5678



12. Describe a scenario where using a tuple would be preferable over a list
ANS - When you want data that shouldn’t change.

      Example:

      # Coordinates should not change accidentally
      location = (40.7128, -74.0060)


      Tuples are also faster and can be used as dictionary keys (unlike lists).

13. How do sets handle duplicate values in Python

ANS - Sets automatically remove duplicates.

      When a duplicate value is added, Python ignores it.

      Example:
        s = {1, 2, 2, 3, 3}
        print(s)  # Output: {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries
ANS-

    | Structure      | What `"in"` checks                           |
    | -------------- | -------------------------------------------- |
    | **List**       | Checks if a value exists in the list         |
    | **Dictionary** | Checks if a **key** exists in the dictionary |

      EX:
      
        lst = [1, 2, 3]
        print(2 in lst)  # True

        d = {"a": 1, "b": 2}
        print("a" in d)  # True (checks keys, not values)

15. Can you modify the elements of a tuple? Explain why or why not

ANS - No.
      Tuples are immutable, meaning once created, you cannot change, add, or remove elements.
      Example:

      tpl = (1, 2, 3)
      # tpl[0] = 10  -> TypeError

16. What is a nested dictionary, and give an example of its use case

ANS - A nested dictionary is a dictionary inside another dictionary — used to
      store hierarchical or structured data.

      Example:

      students = {
          "Alice": {"age": 25, "city": "Paris"},
          "Bob": {"age": 22, "city": "London"}
      }
      print(students["Alice"]["city"])  # Output: Paris

      Use case:
        storing database-like structured data (e.g., student profiles, configurations).

17. Describe the time complexity of accessing elements in a dictionary

ANS -
      Average case: O(1) (constant time)
      Worst case (rare, due to collisions): O(n)
      Dictionaries use hash tables, making lookups and insertions extremely fast.

18. In what situations are lists preferred over dictionaries

ANS - Use lists when:
        1. Order matters.
        2. You only need to store values (no keys).
        3. You expect duplicate values.
        4. You need to perform operations like sorting, slicing, or iteration in sequence.
      
      Example:
        names = ["Alice", "Bob", "Charlie"]

19. Why are dictionaries considered unordered, and how does that affect data retrieval

ANS - Before Python 3.7, dictionaries didn’t maintain insertion order — they  
      stored items based on hash values.
      
  From Python 3.7 onward, they preserve insertion order, but this is an implementation detail, not a reliance guarantee.

  Data retrieval is based on key lookup, not order — you access values by key, not by position.

    Example:

    data = {"b": 2, "a": 1}
    print(data["a"])  # Access by key, not order


20. Explain the difference between a list and a dictionary in terms of data retrieval.

  ANS -
  | Feature          | **List**                | **Dictionary**     |
  | ---------------- | ----------------------- | ------------------ |
  | **Access type**  | By **index** (position) | By **key** (label) |
  | **Example**      | `lst[0]`                | `dict["name"]`     |
  | **Search speed** | Slower (O(n))           | Faster (O(1))      |
  | **Best for**     | Ordered collections     | Key-value mappings |

    EXAMPLE:
      lst = ["apple", "banana", "cherry"]
      print(lst[1])  # banana

      dct = {"a": "apple", "b": "banana"}
      print(dct["b"])  # banana

**Prectical Assignment**

In [ ]:
# 1. Write a code to create a string with your name and print it

name = "vishakha"
print(f"My name is : {name}")

My name is : vishakha

In [ ]:
#2. Write a code to find the length of the string "Hello World"

strs = "Hello World"
print(f"Length of {strs} is : {len(strs)}")

Length of Hello World is : 11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

strs = "Python Programming"
print(f"First 3 charachter of {strs} are: {strs[:3]}")

First 3 charachter of Python Programming is: Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase

strs = "hello"
print(f"Uppercase of {strs} is : {strs.upper()}" )

Uppercase of hello is : HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = "I like apple"
print(f"Original string is : {string}")

print(f"Replace apple with orange : {string.replace("apple","orange")}")

Original string is : I like apple
Replace apple with orange : I like orange

In [ ]:
#6.  Write a code to create a list with numbers 1 to 5 and print it

lst = [1,2,3,4,5]
print(f"List is : {lst}")

List is : [1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

lst1 = [1, 2, 3, 4]
print(f"Before append element : {lst1}")

lst1.append(10)
print(f"After append element : {lst1}")

Before append element : [1, 2, 3, 4]
After append element : [1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst2 = [1, 2, 3, 4, 5]
print(f"Before remove element : {lst2}")

lst2.remove(3)
print(f"After remove element : {lst2}")

Before remove element : [1, 2, 3, 4, 5]
After remove element : [1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(f"Accesss second element in list : {lst[1]}")
print(f"Accesss second element in list using (-) index : {lst[-3]}")

Accesss second element in list : b
Accesss second element in list using (-) index : b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
print("Before reverse list ", lst)

print("After reverse list ", lst[::-1])

lst.reverse()
print("second way to reverse list ", lst)

Before reverse list  [10, 20, 30, 40, 50]
After reverse list  [50, 40, 30, 20, 10]
second way to reverse list  [50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tpl =(100, 200, 300)
print(tpl)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tpl = ('red', 'green', 'blue', 'yellow')

print("Access second-to-last element from tuple : " , tpl[-2])

Access second-to-last element from tuple :  blue
second way to Access second-to-last element from tuple :  blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tpl = (10, 20, 5, 15)
print(f"Minimum Number of element from tuple : {min(tpl)}")

Minimum Number of element from tuple : {min(tpl)}

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tpl = ('dog', 'cat', 'rabbit')
print("Index of cat in tuple is :" ,tpl.index('cat'))

Index of cat in tuple is : 1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruit_tpl = ("mango","apple","kiwi")
"kiwi" in fruit_tpl

True

In [ ]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

sets = {'a','b','c'}
print(sets)

{'b', 'c', 'a'}

In [ ]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
sets = {1, 2, 3, 4, 5}
print(f"Before clear set : {sets}")

sets.clear()
print(f"After clear set : {sets}")

Before clear set : {1, 2, 3, 4, 5}
After clear set : set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

sets = {1, 2, 3, 4}
print(f"Before remove element : {sets}")

sets.remove(4)
print(f"After remove element : {sets}")

Before remove element : {1, 2, 3, 4}
After remove element : {1, 2, 3}

In [ ]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(f"union of 2 set is : {set1 | set2}" )

print(f"union of 2 set is : {set1.union(set2)}" )

union of 2 set is : {1, 2, 3, 4, 5}
union of 2 set is : {1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1,2,3}
set2 = {2,3,4}

print(f"intersection of 2 set is : {set1 & set2}" )
print(f"intersection of 2 set is : {set1.intersection(set2)}" )

intersection of 2 set is : {2, 3}
intersection of 2 set is : {2, 3}

In [ ]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

dict1 = {"name":"vishakha" , "age" : 23,"city":"bilimora"}
print(dict1)

{'name': 'vishakha', 'age': 23, 'city': 'bilimora'}

In [ ]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

dict1 = {'name': 'John', 'age': 25}
print("Before Add key-value pair in dict", dict1)


dict1["country"]= "USA"
print("After Add key-value pair in dict", dict1)

Before Add key-value pair in dict {'name': 'John', 'age': 25}
After Add key-value pair in dict {'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1 = {'name': 'Alice', 'age': 30}
print("value of key name is :", dict1["name"])

value of key name is Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print("Before remove element from dictionary:" , dict1)

dict1.pop("name")
print("After remove element from dictionary:" , dict1)

Before remove element from dictionary: {'name': 'Bob', 'age': 22, 'city': 'New York'}
After remove element from dictionary: {'age': 22, 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict1 = {'name': 'Alice', 'city': 'Paris'}
"city" in dict1

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all

lst = [1,2,3,4,5]
tpl= (1,2,3,4,5,6)
dict1 = {"name":"vishakha" , "age" : 23,"city":"bilimora"}

print(lst)
print(tpl)
print(dict1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)
{'name': 'vishakha', 'age': 23, 'city': 'bilimora'}

In [66]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

from random import randint

lst = []
for _ in range(5):
  lst.append(randint(1,100))

print(f"Before sort the list : {lst}")
lst.sort()

print(f"After sort the list : {lst}")

Before sort the list : [16, 92, 70, 85, 4]
After sort the list : [4, 16, 70, 85, 92]

In [70]:
#28. Write a code to create a list with strings and print the element at the third index
lst_string = ["surat","navsari","bilimora","puna","mumbai"]

print(f"element at the third index : {lst_string[3]}")

element at the third index : puna

In [72]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Alice', 'city': 'Paris'}
dict2 = {'email': 'Alice@gmail.com'}

dict1.update(dict2)

print("Combine of 2 dictionaries : ", dict1)

Combine of 2 dictionaries :  {'name': 'Alice', 'city': 'Paris', 'email': 'Alice@gmail.com'}

In [73]:
#30. Write a code to convert a list of strings into a set.

lst_string = ["surat","navsari","bilimora","puna","mumbai","bilimora","navsari"]

st = set(lst_string)
print(st)

{'surat', 'mumbai', 'bilimora', 'puna', 'navsari'}